<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
<div class="file-upload">
    <button class="upload-btn" (click)="fileUpload.click()">Загрузите файл.</button>
    <div>
        {{ fileName }}
    </div>
</div>
<ng-container *ngIf="data">
    <app-node *ngFor="let item of data" [node]="item"></app-node>
</ng-container>
