:host {
    max-width: 50rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.child {
    margin-left: 1rem;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
}

.button {
    width: 7rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.content {
    &.added {
        color: green;
    }

    &.changed {
        color: #ff7416;
    }

    &.removed {
        color: red;
    }
}
