<div>
    <div class="content" tooltip="{{ comment }}" [class]="node.status">
        <div>{{ node.id }} {{ node.name }}</div>
        <div *ngIf="node.status !== 'default'">{{ node.status }}</div>
    </div>
    <app-comment
        *ngIf="showInput"
        (output)="setComment($event)"
        (hide)="showAddCommentComponent()"
    ></app-comment>
</div>

<div class="buttons">
    <button class="button" (click)="showAddCommentComponent()">Add comment</button>
    <button class="button" [disabled]="!comment" (click)="removeComent()">Remove coment</button>
    <button class="button" *ngIf="showExpandButton" (click)="expand()">Expand</button>
</div>

<ng-container *ngIf="showExpandButton">
    <div *ngIf="expanded">
        <app-node *ngFor="let item of node.children" class="child" [node]="item"> </app-node>
    </div>
</ng-container>
